/* Background */
body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Login Box */
.login-container {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 40px 50px;
  border-radius: 20px;
  text-align: center;
  width: 350px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  color: white;
  transition: all 0.3s ease-in-out;
}

.login-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.4);
}

/* Logo */
.logo {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

/* Headings */
h1 {
  font-size: 22px;
  margin-bottom: 5px;
  font-weight: 600;
  color: hwb(225 93% 4%);
}

h2 {
  font-size: 18px;
  margin-bottom: 25px;
  font-weight: 400;
  color: #dbe3f0;
}

/* Inputs */
.input-group input {
  width: 100%;
  padding: 12px;
  border: none;
  outline: none;
  border-radius: 8px;
  margin: 10px 0;
  font-size: 14px;
  background-color: #ffffffcc;
  color: #333;
}

/* Button */
button {
  width: 100%;
  background: hsl(25, 100%, 50%);
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.3s;
}

button:hover {
  background: linear-gradient(90deg, #0072ff, #00c6ff);
  transform: scale(1.03);
}

/* Error Message */
#error-msg {
  color: #ffcccc;
  margin-top: 10px;
  font-size: 14px;
}
